@use "colors" as c;
@use "../utils/" as u;
html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: c.$mainBG;
    color: c.$white;
    font-family:u.$font;
}
