/* Primary colors */
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

/* Secondary colors */
$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$lineColor: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);