@use "../globals/colors" as c;

@media (min-width:375px){
    .nft-card{
        background-color: c.$cardBG;
        width: 350px;
        padding: 1.5rem;
        margin-top: 1rem;
        margin-inline: auto;
        border-radius: 1rem;
        .nft-image{
            cursor: pointer;
            max-inline-size: 100%;
            block-size: auto;
            border-radius: 1rem;
        }
        &__currency{
            cursor: pointer;
            margin: 1rem 0 1.1rem .3rem;
        }
        &__currency:hover{
            color: c.$cyan;
        }
        &__text{
            margin-left:.3rem;
            font-weight: 400;
            color: c.$softBlue;
            line-height: 1.6;
        }
        .nft-info{
            margin-left:.3rem;
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;

            &__rate{
                color: c.$cyan;
                font-weight: 600;
                margin-left:.3rem;

                .eth-icon{
                    margin-right:.1rem;
                transform: translate(-4px,3px);
                }
            }
            &__duration{
                color: c.$softBlue;

                .clock-icon{
                    transform: translate(-4px,3px);
                    }
            }
        }
        .line{
            margin-left:.3rem;
            height: 1px;
            background-color: c.$lineColor;
        }
        .creator-info{
            margin-top: 1rem;
            margin-left:.3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .currency-creator{
                width: 40px;
                height: 40px;
                border: 2px solid c.$white;
                border-radius: 25px;

                &_text{
                    margin-left: 1rem;
                    span:nth-child(1){
                        color: c.$softBlue;
                    }
                    span:nth-child(2){
                        cursor: pointer;
                    }
                    span:nth-child(2):hover{
                        color: c.$cyan;
                    }
                }
              }

        }
        
    }
}